@import '../../marketplace.css';

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  height: 400px;
  margin-bottom: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.productsContainer {
  /* This overflows, but i won't overflow the parent class width */
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
}

.cartBanner {
  position: fixed;
  top: 80px;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 99;
  right: 0;
}

.cartButton {
  background-color: white;
  border: none;
  height: 35px;
  font-size: 16px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.cartBannerWrapper {
  width: 95%;
  padding-right: 1rem;
  padding-left: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffc9ca;
}
@media (max-width: 600px) {
  .productsContainer {
    width: 100%;
    display: block;
    flex-wrap: wrap;
  }
}
.cardImage {
  height: 200px;
}
.cardImage > img {
  object-fit: contain;
  height: 100%;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.productImage {
  /* Layout - image will take space defined by aspect ratio wrapper */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}
.cardImgTop {
  min-height: 25%;
  object-fit: contain;
}
.cardBody {
  text-align: center;
  margin-bottom: 3rem;
}
.cardText {
  text-align: center;
}
.textTruncate {
  text-align: center;
}

.cardTitle {
  /* Font */
  @apply --marketplaceH3FontStyles;
  color: var(--matterColorDark);
  word-break: break-all;
  padding-right: 1rem;
  padding-left: 1rem;
  opacity: 0.5;
  margin-top: 2rem;
  margin-bottom: 16px;
  @media (--viewportMedium) {
    margin-top: 1rem;
    margin-bottom: 20px;
  }
}

.productTitle {
  /* Font */
  @apply --marketplaceH3FontStyles;
  color: var(--matterColorAnti);

  margin-top: 0;
  margin-bottom: 20px;
  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 28px;
  }
}
